<h1>Listing Quizzes</h1>
<%= link_to 'New Quiz', new_quiz_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th colspan="3"></th>
  </tr>
  
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.name %></td>
      <td><%= quiz.score %></td>
      <td><%= link_to 'Show', quiz_path(quiz) %></td>
      
    </tr>
  <% end %>
</table>