<h1 class="mt-3 text-center">Listing all Quizzes</h1>

<%= render 'quiz', obj: @quizzes %>

<%= link_to 'New Quiz', new_quiz_path, class: 'btn btn-primary btn-sm' %>
<div class="d-flex mt-3">
  <div class="mx-auto">
    <%= will_paginate @quizzes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
