<h1 class="mt-3 text-center">Listing all Quizzes</h1>

<%= render 'quiz', obj: @quizzes, type: "Quiz" %>

<% if logged_in? && current_user.admin? %><!--Show new quiz button only for admins-->
	<%= link_to 'New Quiz', new_quiz_path, class: 'btn btn-primary btn-sm' %>
<% end %>
<div class="d-flex mt-3">
  <div class="mx-auto">
    <%= will_paginate @quizzes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
