<h1>FAQ</h1>
<h2>Frequently asked questions about the Quiz App</h3>
<br>
<br>
<div>
	<h4>How to take up the quiz?</h4>
	<p><%= link_to 'Create an account', signup_path %> and take any quiz how many ever times you want.</p>
</div>
<div>
	<h4>Can I view quizzes based on a category?</h4>
	<p>Yes, go the <%= link_to 'Category', categories_path %> page and view the various quizzes of wach category.</p>
</div>
