<div class="text-center jumbotron mt-5">
  <div class="container">
    <h1 class="display-2 font-weight-bold">Quiz App</h1>
    <p class="mt-4"><%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-lg" %></p>
    <p> Or have an account, <%= link_to 'Log In', login_path %></p>
  </div>
</div>

