
@import "font-awesome";
@import "bootstrap";


footer {
	color: #777;
}

footer ul {
	list-style: none;
}

.clickable {
	cursor: pointer;
}

.grey-back {
	background-color: #F5F5F5;
}

.alert-icon {
	color: red;
}

.option-btn {
	width: 100%;
}