<h1 class="mt-3 text-center"><%= @category.name %> Category</h1>

<%= render 'quizzes/quiz', obj: @category_quizzes %>

<div class="d-flex mt-3">
  <div class="mx-auto">
    <%= will_paginate @category_quizzes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>